.card{
    background-color: #9dad71;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 26px;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

