*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    max-width: 1000px;
    margin: 0 auto;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.box{
    background-color: #4caf50;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: center;
    padding: 2rem;
    font-size: 18px;
    color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.box:hover{
    background-color: #45a060;
    color: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

@media screen and(max-width: 600px){
    .grid_container{
        grid-template-columns: 1fr;
    }
}