<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Welcome to home page of my website</h1>
    <p>this server is made using node.js</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aperiam non velit incidunt? Eligendi, deserunt repellendus qui velit recusandae distinctio provident aspernatur, ad ea perspiciatis odit error sapiente impedit amet.
    </p>
</body>
</html>