<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>algoryth | <%= title %> </title>
</head>
<body>
    <h1>hello i am a mern stack developer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rerum voluptatibus deserunt repellendus incidunt architecto sint dolorum voluptatum facere obcaecati deleniti temporibus ab earum fuga maiores, vero perferendis laborum error!</p>
</body>
</html>