.count-display{
  font-size: 2.5rem;   
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color:  #2d3a3a;
}


.button-set{
    display: flex;
    gap: 20px;
}
.increment-btn{
     background-color: #638d6f;
     color: white;
     padding: 10px 20px;
     border-radius:26px ;
     -webkit-border-radius:26px ;
     -moz-border-radius:26px ;
     -ms-border-radius:26px ;
     -o-border-radius:26px ;
}

.decrement-btn{
    background-color: #78270d;
     color: white;
      padding: 10px 20px;
     border-radius:26px ;
     -webkit-border-radius:26px ;
     -moz-border-radius:26px ;
     -ms-border-radius:26px ;
     -o-border-radius:26px ;
}