#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.card-container{ 
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
} 

@media screen and(max-width: 600px){
    .card_container{
        grid-template-columns: 1fr;
    }
}