.card{
    background-color: #1976d2;
    border-radius:26px;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    -ms-border-radius:26px;
    -o-border-radius:26px;
    -webkit-border-radius:26px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 3rem;
    text-align: left;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.4);
    flex: 1;
}

.card:hover{
    background-color: #1e88e5;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.6);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
.card h2 {
  font-size: 1.5rem;      
  font-weight: 600;
  color: #ffffff;
}

.card p {
  font-size: 0.9rem;
  color: #FFFFff;
}

.card .username {
  font-size: 0.95rem;
  color: #e8f5e9;
}

.card p span{
    font-size: 1rem;
  font-weight: 800;      
  color: #FFFF00;
}