*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: arial, sans-serif;
    line-height: 30px;
}

body{
    background-color: #f5f5f5;
    padding: 20px;

}

.card-container{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    background-color: #ffffff;;
    border-radius: 20px;
    padding: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3{
    margin-bottom: 15px;     
}

@media screen and (max-width: 768px) {
    .card-container{
        flex-direction: column;
    }
    
}